<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dllo.testdemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".activity.MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.InformationActivity" />
        <activity android:name=".activity.NewsListViewDetailsActivity" />
       <activity android:name=".dialog.NewsDetailsDialogActivity" android:theme="@style/NewsDetailsDialog"/>
        <activity android:name=".dialog.NewsDetailsShareActivity" android:theme="@style/NewsDetailsDialog"/>
        <activity android:name=".dialog.MineHotLineActivity" android:theme="@style/NewsDetailsDialog"/>
        <activity android:name=".dialog.FoundPeopleActivity"/>
        <activity android:name=".dialog.FoundEntrepreneursActivity"/>
        <activity android:name=".dialog.FoundEquityActivity"/>
        <activity android:name=".dialog.FoundEarlyActivity"/>
        <activity android:name=".dialog.RotateActivity"/>

    </application>

</manifest>